.Like-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 21px 10px;
    cursor: pointer;
}

/* .Comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 21px 0px;
    cursor: pointer;
    font-family: system-ui;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;

} */
/* .like-comment-container{

    display: grid;
    grid-template-columns: auto auto auto auto;
} */

.hr-line {

    hr {
        border-top: 1px solid rgb(181, 181, 181);
    }
}

p {
    font-family: system-ui;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.835);


}

.Like-container.liked {
    color: blue;
}

.like-count p {
    font-size: 11.5px;
    font-weight: 400;
}